.listItem
{
    width: max(20%, 200px);
    margin-bottom: 30px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--footer-text-color);
}

.title
{
    align-self: center;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.links
{
    list-style-type: inherit;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
}

.icons
{
    width: 80%;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}